.headerDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #21201d;
  color: white;
}

.App-body{
  height: 100vh;
  width: 100vw;
  padding-bottom: 40px;
  background-color: #403e39;
  color: white;
}

.restaurantSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;  
}

.search-text{
  margin: 10px;
}

#search-bar{
  width:220px;
  padding: 6px 8px;
  border-color: #403e39;
  background-color: #21201d;
}

.restaurantTable{
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;  
}

.table-text{
  margin: 10px;
}

.tableDiv{
  width:90%; 
}

table{
  table-layout: fixed;
  width: 100%;
}

th{
  border: 1px solid fuchsia;
}

td{
  border: 1px solid fuchsia;
  word-wrap: break-word;
}

.footerDiv{
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21201d;
  color: white;
}
